<p id="notice"><%= notice %></p>

<h1>Invites</h1>

<!-- To remove before the end  -->
<br>
<br>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Guild</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invites.each do |invite| %>
      <tr>
        <td><%= invite.user_id %></td>
        <td><%= invite.guild_id %></td>
        <td><%= link_to 'Show', invite %></td>
        <td><%= link_to 'Edit', edit_invite_path(invite) %></td>
        <td><%= link_to 'Accept', accept_invite_path(invite), method: :delete, data: { confirm: 'Accepting ?' } %></td>
        <td><%= link_to 'Refuse', refuse_invite_path(invite), method: :delete, data: { confirm: 'Refusing ?' } %></td>
        <td><%= link_to 'Destroy', invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invite', new_invite_path %>
