<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @invite.user_id %>
</p>

<p>
  <strong>Guild:</strong>
  <%= @invite.guild_id %>
</p>

<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
