<!DOCTYPE html>
<html>
	<head>
		<title>Transcendence</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<script type="template" id="userTemplate">
			<%%= name %>
		</script>
		<%= render 'templates/selectMode' %>
		<%= render 'templates/matchmaking' %>
		<%= render 'templates/game' %>

		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= javascript_pack_tag 'application' %>
	</head>

	<body>
		<nav>
			<a id="game_link" href="#game">Game</a>
			<a id="rank_link" href="#users">Rank</a>
			<a id="guild_link" href="#game">Guild</a>
			<div id="account_div">
				<button id="account_button" href="#game">
					<%= current_user ? session[:user]['login'] : 'login' %>
					<div id="account_menu">
						<% if current_user then %>
							<div class="option">
								<div class="ball_selector"></div>
								<%= link_to "Modify account", "#game" %>
							</div>
							<div class="option">
								<div class="ball_selector"></div>
								<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
							</div>
						<% else %>
							<div class="option">
								<div class="ball_selector"></div>
								<%= link_to "Sign in with 42", user_marvin_omniauth_authorize_path %>
							</div>
						<% end %>
					</div>
				</button>
			</div>
		</nav>
		<button id="friends_banner">Friends</button>
		<aside id="friends">
			<p><span class="online"></span><span>Joueur 1</span></p>
			<p><span class="offline"></span><span>Joueur 2</span></p>
			<p><span class="ingame"></span><span>Joueur 3</span></p>
			<p><span></span><span>Joueur 4</span></p>
			<p><span></span><span>Joueur 5</span></p>
			<p><span></span><span>Joueur 6</span></p>
			<p><span></span><span>Joueur 666666666</span></p>
			<p><span></span><span>Joueur 6</span></p>
			<p><span></span><span>Joueur 6</span></p>
			<p><span></span><span>Joueur 6</span></p>
			<p><span></span><span>Joueur 6</span></p>
			<p><span></span><span>Joueur 6</span></p>
			<p><span></span><span>Joueur 6</span></p>
			<p><span></span><span>Joueur 6</span></p>
			<p><span></span><span>Joueur 6</span></p>
			<p><span></span><span>Joueur 6</span></p>
			<p><span></span><span>Joueur 6</span></p>
			<p><span></span><span>Joueur 6</span></p>
		</aside>
		<aside id="chat">
			<div id="chat_banner">Chat</div>
			<div id="chans">
				<p>General</p>
				<p>Myguild</p>
				<p>Friend</p>
				<p>A looooooooong name</p>
			</div>
			<div id="chat_body_container">
				<input type="text" placeholder="Write here">
				<div id="chat_body">
					<p class="mine">
						<span>Me</span>
						<span>Salut !</span>
					</p>
					<p>
						<span>Not me</span>
						<span>Hey !</span>
					</p>
					<p class="mine">
						<span>Me</span>
						<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
					</p>
					<p>
						<span>Another not me</span>
						<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
					</p>
					<p>
						<span>Another not me</span>
						<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
					</p>
				</div>
			</div>
		</aside>
		<%= yield %>
	</body>
</html>
