<!DOCTYPE html>
<html>
	<head>
		<title>Transcendence</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<script type="template" id="userTemplate">
			<%%= name %>
		</script>
		<%= render 'templates/friend' %>
		<%= render 'templates/chatRoom' %>
		<%= render 'templates/message' %>
		<%= render 'templates/selectMode' %>
		<%= render 'templates/matchmaking' %>
		<%= render 'templates/game' %>

		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= javascript_pack_tag 'application' %>
	</head>

	<body>
		<nav>
			<a id="game_link" href="#game">Game</a>
			<a id="rank_link" href="#users">Rank</a>
			<a id="guild_link" href="#game">Guild</a>
			<div id="account_div">
				<button id="account_button" href="#game">
					<%= current_user ? session[:user]['login'] : 'login' %>
					<div id="account_menu">
						<% if current_user then %>
							<div class="option">
								<div class="ball_selector"></div>
								<%= link_to "Modify account", "#game" %>
							</div>
							<div class="option">
								<div class="ball_selector"></div>
								<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
							</div>
						<% else %>
							<div class="option">
								<div class="ball_selector"></div>
								<%= link_to "Sign in with 42", user_marvin_omniauth_authorize_path %>
							</div>
						<% end %>
					</div>
				</button>
			</div>
		</nav>
		<div id="friends_banner">
			Friends
			<div class="plus">+</div>
			<div id="add_friend">
				<input type="text">
			</div>
		</div>
		<aside id="friends">
			<ul id="friends_menu">
				<li>Send pm</li>
				<li>Play against</li>
				<li id="remove_friend">Remove friend</li>
			</ul>
		</aside>
		<aside id="chat">
			<div id="chat_banner">Chat</div>
			<div id="chat_rooms">
			</div>
			<div id="chat_body_container">
				<input type="text" placeholder="Write here">
				<div id="chat_body">
				</div>
			</div>
		</aside>
		<%= yield %>
	</body>
</html>
