<!DOCTYPE html>
<html>
	<head>
		<title>Transcendence</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<script type="text/javascript">
			window.user_id = <%= session[:user_id] %>;
		</script>
		<script type="template" id="userTemplate">
			<%%= name %>
		</script>
		<%= render 'templates/friend' %>
		<%= render 'templates/chatRoom' %>
		<%= render 'templates/selectMode' %>
		<%= render 'templates/matchmaking' %>
		<%= render 'templates/game' %>

		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= javascript_pack_tag 'application' %>
	</head>

	<body>
		<%= render 'layouts/menu' %>
		<%= render 'layouts/friendsList' %>
		<%= render 'layouts/chat' %>
		<%= yield %>
	</body>
</html>
